edit

<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
  <input type="text"  name="post[title]" placeholder="Title" value="<%= post.title %>">
  <input type="text" name="post[price]" placeholder="Price" value="<%= post.price %>">
  <textarea name="post[description]" placeholder="Description"><%= post.description %></textarea>
  <div>
    <input type="file" name="images" id="imageUpload" accept="images/*" multiple />
  </div>
  <div>
      <% post.images.forEach(function(image, i) { %>
        <img src="<%= image.url %>" alt="" width="100" />
        <label for="image<%= i %>">Delete?</label>
        <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>" />
      <% }); %>
  </div>
  <input type="text" name="post[location]" placeholder="Location" value="<%= post.location %>">
  <input type="submit" placeholder="Submit">
</form>

<script type="text/javascript">
  // find post edit form
  let postEditForm = document.getElementById('postEditForm'); 
  // add submit listener to post form
  postEditForm.addEventListener('submit', function(event) {
    // find length of uploaded images
    let imageUploads = document.getElementById('imageUpload').files.length;
    // find total number of existing images
    let existingImgs = document.querySelectorAll('.imageDeleteCheckbox').length;
    // find total number of potential deletions
    let imgDeletions = document.querySelectorAll('.imageDeleteCheckbox:checked').length;
    // figure out if the form can be submited or not
    let newTotal = existingImgs - imgDeletions + imageUploads;
    if(newTotal > 4) {
      event.preventDefault();
      let removeAmt = newTotal - 4
      alert(`you need to remove at least ${removeAmt} (more) image${removeAmt === 1 ? '' : 's'}!`)
    }
  });
</script>